body {
  background: #fafafa;
}
table {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
  background: #fafafa;
}

.sidebar {
  min-width: 400px;
  max-width: 400px;

  background: #7386D5;
}

.sidebar.active {
  margin-right: -250px;
}
