body {
  background: #fafafa;
  width: 100%;
}

.content{
  background: #fafafa;
}

.wrapper {
  display: flex;
  align-items: stretch;
  background: #fafafa;
}

.sidebar {
  min-width: 400px;
  max-width: 400px;

  background: #7386D5;
  padding: 20px;
}
.sidebar h3 {
  color: white;
}

.sidebar.active {
  margin-right: -400px;
}
